@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
margin-top: -85px;
}
.header{
    margin-top: 50px;
}
.text-centerr {
    color: orangered;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}
.text-centerrr {
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.content {
    color: black !important;
    text-align: center;
}